<h1>Hi!</h1>
<div>
    <h2>Observables in Angular</h2>
    <a routerLink="observables-in-angular/http-client">Http Client</a>
    <a routerLink="observables-in-angular/output">Output</a>
    <a routerLink="observables-in-angular/reactive-forms">Reactive Forms</a>
    <a routerLink="observables-in-angular/router">Router</a>
  </div>
<div>
  <h2>Unsubscribing by example</h2>
  <a routerLink="observables-subscriptions/no-unsubscribe">No unsubscribe (bad practice)</a>
  <a routerLink="observables-subscriptions/async-pipe">Async pipe</a>
  <a routerLink="observables-subscriptions/take-until">Take until</a>
  <a routerLink="observables-subscriptions/unsubscribe">Unsubscribe</a>
</div>
<div>
    <h2>Hot vs cold</h2>
    <a routerLink="observables-hot-cold/cold">Cold</a>
    <a routerLink="observables-hot-cold/hot">Hot</a>
</div>
<div>
    <h2>Custom Operator</h2>
    <a routerLink="observables-operators-custom/uppercase">Uppercase</a>
</div>
<div>
  <h2>Example</h2>
  <a routerLink="starships">Starships</a>
  <a routerLink="starships-dirty">Starships Dirty</a>
</div>

<router-outlet></router-outlet>