<h1>Hi!</h1>

<div class="menu">
  <button mat-button [matMenuTriggerFor]="observablesInAngularMenu">Observables in Angular</button>
  <mat-menu #observablesInAngularMenu="matMenu">
    <a mat-menu-item routerLink="observables-in-angular/http-client">Http Client</a>
    <a mat-menu-item routerLink="observables-in-angular/output">Output</a>
    <a mat-menu-item routerLink="observables-in-angular/reactive-forms">Reactive Forms</a>
    <a mat-menu-item routerLink="observables-in-angular/router">Router</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="observablesUnsubscribing">Observables Unsubscribing</button>
  <mat-menu #observablesUnsubscribing="matMenu">
    <a mat-menu-item routerLink="observables-subscriptions/no-unsubscribe">No unsubscribe (bad practice)</a>
    <a mat-menu-item routerLink="observables-subscriptions/async-pipe">Async pipe</a>
    <a mat-menu-item routerLink="observables-subscriptions/take-until">Take until</a>
    <a mat-menu-item routerLink="observables-subscriptions/unsubscribe">Unsubscribe</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="observablesHotCold">Observables Hot vs cold</button>
  <mat-menu #observablesHotCold="matMenu">
    <a mat-menu-item routerLink="observables-hot-cold/cold">Cold</a>
    <a mat-menu-item routerLink="observables-hot-cold/hot">Hot</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="customOperator">Custom Operator</button>
  <mat-menu #customOperator="matMenu">
    <a mat-menu-item routerLink="observables-operators-custom/uppercase">Uppercase</a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="example">Example</button>
  <mat-menu #example="matMenu">
    <a mat-menu-item routerLink="starships">Starships</a>
    <a mat-menu-item routerLink="starships-dirty">Starships Dirty</a>
  </mat-menu>
</div>

<div class="example-components-body">
  <router-outlet></router-outlet>
</div>